.left-card{
    background-color: #2196f3 !important;
}
.card-body .sent{
    background-color:  #2196f3;
}
.list-group{
    background-color:  #2196f3 !important; 
}
#lstChat{
    background-color:  #2196f3 !important; 

}
.list-group-item
{
    background-color:  #2196f3 !important; 

}