.left-card{
background-color:#72b626 !important;
}
.card-body .sent{
    background-color: #72b626;
}
.list-group{
    background-color: #72b626 !important; 
}
#lstChat{
    background-color: #72b626 !important; 

}
.list-group-item
{
    background-color: #72b626 !important; 

}