.left-card,.list-group{
    background-color: #fa5b0f !important;
}
.card-body .sent{
    background-color: #fa5b0f;
}
.list-group{
    background-color: #fa5b0f !important; 
}
#lstChat{
    background-color: #fa5b0f !important; 

}
.list-group-item
{
    background-color: #fa5b0f !important; 

}
