.left-card{
    background-color: #ec1839 !important;
}
.card-body .sent{
    background-color: #ec1839;
}
.list-group{
    background-color: #ec1839 !important; 
}
#lstChat{
    background-color: #ec1839 !important; 

}
.list-group-item
{
    background-color: #ec1839 !important; 

}