/* body{
    background-color: #ffb400;
}

.left-card{
    background-color: #ffb400;
}
.chatbox{
    background-color: #ffb400;
}
.card .card-header
{
    background-color: #ffb400;
}
.card .card-body{
    background-color: #ffb400;
}
.card .card-footer{
    background-color: #ffb400;
}
 .left-card ul li{
    background-color: #ffb400;
 }
 .left-card {
     border-right: #d49c19;
     box-shadow: 0 0 5px #d49c19;
 }
 .card-body .sent{
     background-color: red;
 } */
.left-card{
    background-color: #ffb400 !important;
}
.card-body .sent{
    background-color:  #ffb400;
}
.list-group{
    background-color:  #ffb400 !important; 
}
#lstChat{
    background-color:  #ffb400 !important; 

}
.list-group-item
{
    background-color:  #ffb400 !important; 

}